<section class="mainAbout my-5">
    <div class="container">
        <div class="showcase-form card">
            <h2>View Student's' Application </h2>
            <div class="form-control">
                UserName : @Model.UserName
            </div>
            <div class="form-control">
                UserPhone: @Model.UserPhone
            </div>
            <div class="form-control">
                UserCourse: @Model.UserCourse
            </div>
            <div class="form-control">
                UserGPA: @Model.UserGPA
            </div>
            <div class="form-control">
                UserUni: @Model.UserUni
            </div>
            <div class="form-control">
                UserCV: @Model.UserCV
            </div>
            <div class="form-control">
                UserCV: @Model.Regdate
            </div>
        </div>
    </div>
</section>
